        
        <h1> 
        <%= link_to image_tag("logo_small.png", :style=>"padding:0px", :alt=>"Logo"), :action=>'index' %> 
        About Us </h1>

        <p> We are UC Berkeley students studying Electrical Engineering and Computer Science who are passionate about helping our fellow students at our department. This project finally has reached the level of implementation. Hope you will find it useful. </br> If you have any suggestions, feel free to provide your feedback <a href="contact.html" style="color:#424A7E; font-size:14px; text-decoration:underline">here</a> or just contact us personally by clicking on our names. Thank you! 
        </p>
        <p style="text-align:center"> 
        <%= image_tag "girish.png", :alt=>"Girish" %>
        <%= image_tag "anastasia.png", :alt=>"Anastasia" %>
        <%= image_tag "venketaram.png", :alt=>"Venketaram" %> 
        <%= image_tag "sherman.png", :alt=>"Sherman" %>
        </p>
        <div>
            <table id="namebar" class="menu">
            <tr>
                <td><a href="mailto:guru_g@berkeley.edu" title="Email to Girish"> Girish Balakrishnan </a></td>
                <td><a href="mailto:ingargiola@berkeley.edu" title="Email to Anastasia"> Anastasia Ingargiola </a></td>
                <td><a href="mailto:v.ram28@gmail.com" title="Email to Venketaram"> Venketaram Ramachandran </a></td>
                <td><a href="mailto:shermanlng@gmail.com" title="Email to Sherman"> Sherman </br> Ng </a></td>
            </tr>
            </table>
        </div>
    
        <p>
            <%= link_to image_tag("paws.png", :style=>"padding:0px", :alt=>"Paws"), :action=>'index' %> 
        </p>
    

    </div>

